# Ambiente virtual
venv/
env/
.env

# Banco de dados
*.db
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Flask
instance/
.webassets-cache

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
